/**
 * Carbon Design System
 * https://www.carbondesignsystem.com/
 */

/* @import 'carbon-components-svelte/css/all.css'; */
@import "./reset.css";

/**
 * Montserrat
 * https://fonts.google.com/specimen/Montserrat
 */

@font-face {
  font-family: "Roboto Mono";
  src: url("/fonts/RobotoMono/RobotoMono-Bold.ttf") format("woff2");
  font-weight: 700; /* Normal weight */
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("/fonts/RobotoMono/RobotoMono-BoldItalic.ttf") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("/fonts/RobotoMono/RobotoMono-ExtraLight.ttf") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("/fonts/RobotoMono/RobotoMono-ExtraLightItalic.ttf") format("woff2");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("/fonts/RobotoMono/RobotoMono-Italic.ttf") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("/fonts/RobotoMono/RobotoMono-Light.ttf") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("/fonts/RobotoMono/RobotoMono-LightItalic.ttf") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("/fonts/RobotoMono/RobotoMono-Medium.ttf") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("/fonts/RobotoMono/RobotoMono-MediumItalic.ttf") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("/fonts/RobotoMono/RobotoMono-Regular.ttf") format("woff2");
  font-weight: 400; /* Normal weight */
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("/fonts/RobotoMono/RobotoMono-SemiBold.ttf") format("woff2");
  font-weight: 600; /* Normal weight */
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("/fonts/RobotoMono/RobotoMono-SemiBoldItalic.ttf") format("woff2");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("/fonts/RobotoMono/RobotoMono-Thin.ttf") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("/fonts/RobotoMono/RobotoMono-ThinItalic.ttf") format("woff2");
  font-weight: 100;
  font-style: italic;
}

body {
  background-color: var(--primary-bg);
}

/**
 * Typography
 */

.h1 {
  font-size: 2.25rem; /* 36px */
  font-weight: 400;
  margin-bottom: 0.5em;
  letter-spacing: 0.1em;
  font-family: var(--heading-font);
  color: var(--heading-color);
}

.h2 {
  font-size: 1.75rem; /* 28px */
  font-weight: 500;
  margin-bottom: 0.5em;
  font-family: var(--heading-font);
  color: var(--heading-color);
}

.h3 {
  font-size: 1.5rem; /* 24px */
  font-weight: 500;
  margin-bottom: 0.5em;
  font-family: var(--heading-font);
  color: var(--heading-color);
}

.subtitle1 {
  font-size: 1rem; /* 16px */
  font-weight: 400; /* Еще более тонкий */
  letter-spacing: 0.1em;
  font-family: var(--description-font);
  color: var(--description-color);
}

.subtitle2 {
  font-size: 0.875rem; /* 14px */
  font-weight: 400;
  letter-spacing: 0.1em;
  font-family: var(--description-font);
  color: var(--description-color);
}

.body1 {
  font-size: 1rem; /* 16px */
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.1em;
  font-family: var(--description-font);
  color: var(--description-color);
}

.body2 {
  font-size: 0.875rem; /* 14px */
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.1em;
  font-family: var(--description-font);
  color: var(--description-color);
}

.button {
  font-size: 0.875rem; /* 14px */
  font-weight: 600;
  letter-spacing: 0.05em;
  letter-spacing: 0.1em;
  font-family: var(--heading-font);
  color: var(--heading-color);
}

.caption {
  font-size: 0.75rem; /* 12px */
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: 0.1em;
  font-family: var(--description-font);
  color: var(--description-color);
}

.overline {
  font-size: 0.75rem; /* 10px */
  font-weight: 500;
  letter-spacing: 0.1em;
  font-family: var(--description-font);
  color: var(--description-color);
}

/**
 * Additional styles
 */

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.pointer-events-none {
  pointer-events: none;
}

path:not(.pie) {
  fill: var(--heading-color);
  transition: fill var(--transition-default);
}

.error-icon > path:not(.pie) {
  fill: var(--error-color);
}

.icon-focused path:not(.pie) {
  fill: var(--brand-primary-color);
}
